
<header id ="header-container" class="container-fluid" > <nav class="navbar navbar-expand-lg navbar-black bg-dark w-100">
  <a class="navbar-brand" href="#">Verizon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">About </a>
      <a class="nav-item nav-link" href="#">Contact Us</a>
      <a class="nav-item nav-link " href="#">Login</a>
    </div>
  </div>
</nav></header>

<form action="/login" method="post">
  <div class="container">
    <h1>Log in </h1>
    <p>Please fill in this form to login</p>
    <hr>

    <label for="username"><b>User Name</b></label>
    <input type="text" placeholder="User name" name="username" id="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>

    
    <button type="submit" class="registerbtn">Log in</button>
  </div>
  

</form>
<h3>{{userAlert}}</h3>
       <footer >    
      <div id="foot-note">         
      <a class="nav-item nav-link" href="#">About </a>
      <a class="nav-item nav-link" href="#">Contact Us</a>
      
      </footer>