<div id="box-form-div">
    <form  action="/newboxform" method="post">       
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="box_count">Box Count</label>
      <input type="text" class="form-control" id="box_count"  name ="box_count" placeholder="type of pallet" required>
      
    </div>
    <div class="col-md-4 mb-3">
      <label for="staging_date">staging Date</label>
      <input type="text" class="form-control" id="staging_date" name =" staging_date" placeholder="Location" required>
     
    </div>
    
  </div>
 
  <button class="btn btn-dark" type="submit">Submit form</button>
</form>

</div>









                 







