<header id ="header-container" class="container-fluid" > <nav class="navbar navbar-expand-lg navbar-black bg-dark w-100">
  <a class="navbar-brand" href="/warehouses">Verizon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/warehouses">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="about.html">About </a>
      <a class="nav-item nav-link" href="contactus.html">Contact Us</a>
      <a class="nav-item nav-link " href="/signup">Login</a>
    </div>
  </div>
</nav></header>

<div id="pallet-form-div">
    <form  action="/newpalletform/{{warehouse.id}}" method="post">       
  <div class="form-row">
    
    <div class="col-md-3 mb-3 container">
      <label for="capacity_of_pallet">Capacity of Pallets</label>
      <input type="integer" class="form-control" id="capacity_of_pallet" name ="capacity_of_pallet" placeholder="Capacity" required>
      
      <button class="btn btn-dark" type="submit">Submit form</button>
      <button class="btn btn-dark" type="submit"><a href="/pallet/{{warehouse.id}}">Back</a></button>
      <div> <h3>{{palletAlert}}</h3></div>
    </div>
  </div>
 
  
</form>

</div>









                 







