


<div id="pallet-form-div">
    <form  action="/newwarehouseform" method="post">       
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="name">Warehouse name</label>
      <input type="text" class="form-control" id="name"  name ="name" placeholder="Warehouse name" required>
      
    </div>
    <div class="col-md-4 mb-3">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="count_of_pallet" name =" count_of_pallet" placeholder="Location" required>
     
    </div>
    <div class="col-md-3 mb-3">
      <label for="capacity">Capacity</label>
      <input type="integer" class="form-control" id="capacity" name ="capacity" placeholder="Capacity" required>
      
    </div>
    <div class="col-md-3 mb-3">
      <label for="image">Image URL</label>
      <input type="integer" class="form-control" id="image" name ="image" placeholder="image" required>
      
    </div>
  </div>
 
  <button class="btn btn-dark" type="submit">Submit form</button>
</form>

</div>