
<header id ="header-container" class="container-fluid" > <nav class="navbar navbar-expand-lg navbar-black bg-dark w-100">
  <a class="navbar-brand" href="/warehouses">Verizon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/warehouses">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="about.html">About </a>
      <a class="nav-item nav-link" href="contactus.html">Contact Us</a>
      <a class="nav-item nav-link " href="/signup">Login</a>
    </div>
  </div>
</nav></header>

<div id="pallet-form-div" class="container">
    <form  action="/newwarehouseform" method="post">       
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="name">Warehouse name</label>
      <input type="text" class="form-control" id="name"  name ="name" placeholder="Warehouse name" required>
      
    </div>
    <div class="col-md-4 mb-3">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="count_of_pallet" name =" count_of_pallet" placeholder="Location" required>
     
    </div>
    <div class="col-md-3 mb-3">
      <label for="capacity">Capacity</label>
      <input type="integer" class="form-control" id="capacity" name ="capacity" placeholder="Capacity" required>
      
    </div>
    <div class="col-md-3 mb-3">
      <label for="image">Image URL</label>
      <input type="integer" class="form-control" id="image" name ="image" placeholder="image" required>
      
    </div>
  </div>
 
  <button class="btn btn-dark" type="submit">Submit form</button>
  

  <button class="btn btn-dark" type="submit"><a href="/warehouses">Back</a></button>
      <div> <h3>{{warehouseAlert}}</h3></div>
</form>

</div>