
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<header id ="header-container" class="container-fluid" > <nav class="navbar navbar-expand-lg navbar-black bg-dark w-100">
  <a class="navbar-brand" href="/warehouses"><img src = "https://www.verizon.com/about/sites/default/files/news-media/verizon-news-media-colorbox.png" style="height: 74px; width: 132px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/warehouses">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/about.html">About </a>
      <a class="nav-item nav-link" href="/contactus.html">Contact Us</a>
      <a class="nav-item nav-link " href="/signup">Login</a>
    </div>
  </div>
</nav></header>
<form action="/signup" method="post">
  <div class="container">
    <h1>Sing Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="username"><b>User Name</b></label>
    <input type="text" placeholder="user name" name="username" id="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>

    <label for="confirm"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="confirm" id="confirm" required>
    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <button type="submit" class="registerbtn">Register</button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="/login">Sign in</a>.</p>
  </div>
</form>
<h3>{{userAlert}}</h3>
       <footer>    
      <div id="foot-note">         
      <a class="nav-item nav-link" href="about.html">About </a>
      <a class="nav-item nav-link" href="contactus.html">Contact Us</a>
      <a class="nav-item nav-link" href="/login">Login</a></div> 
      </footer>