<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<header id ="header-container" class="container-fluid" > <nav class="navbar navbar-expand-lg navbar-black bg-dark w-100">
  <a class="navbar-brand" href="#"><img src = "https://www.verizon.com/about/sites/default/files/news-media/verizon-news-media-colorbox.png" style="height: 74px; width: 132px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/warehouses">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/about.html">About </a>
      <a class="nav-item nav-link" href="/contactus.html">Contact Us</a>
      <a class="nav-item nav-link " href="/signup">Login</a>
    </div>
  </div>
</nav></header>
    
  </head>

  {{!-- -------------------------------------------------- --}}
  
    <body style="background-color:rgb(235, 220, 192);text-align:center"></body>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    
    <div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 50%">
        <img src="https://www.shdlogistics.com/sites/shdlogistics.com/files/styles/article_featured_standard/public/Empty%20Warehouse.jpeg?itok=SS6q4TcF" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <button type="button" class="btn btn-dark"><h1>Welcome to Verizon Warehouses </h1> <br/><h3>Brought to you by <span style = "color :green;">"GREEN TEAM" </span></h3></button>
          
        </div>
      </div>
      <div class="carousel-item" style="height: 50%">
        <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/advisor/wp-content/uploads/2021/06/warehouse_management_system_wms_featured.jpeg.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <button type="button" class="btn btn-dark"><h1>Welcome to Verizon Warehouses </h1> <br/><h3>Brought to you by <span style = "color :green;">"GREEN TEAM" </span></h3></button>
        </div>
      </div>
      <div class="carousel-item" style="height: 50%">
        <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F602c405d86b40d128d8267de%2FAerial-view-of-woman-worker-with-face-mask-working-in-warehouse-%2F960x0.jpg%3Ffit%3Dscale" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <button type="button" class="btn btn-dark"><h1>Welcome to Verizon Warehouses </h1> <br/><h3>Brought to you by <span style = "color :green;">"GREEN TEAM" </span></h3></button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
  </body>
</html>

{{!-- ---------------------------------- --}}

</section>

<div class="d-grid gap-2">
  <button class="new-btn"><a href="/newwarehouseform" style="color: white;text-decoration: none;font-size: x-large;">Add New Warehouse</a>
</button>  
</div>

</section

{{!-- ------------------------------------ --}}

<div id ="warehouse-container"> 
{{#each warehouses}} 
    <div class="card mb-3" style="display: inline-block;">
  <img src="{{image}}" class="card-img-top" alt="warehouse image" style="width: 417px; height: 220px;">
  <div class="card-body">
    <h3 class="card-title">{{name}}</h3>
    <a href="/warehouses/{{id}}" class="btn btn-dark">View Warehouse</a>
    <button class="btn btn-danger" onclick="deleteWarehouse({{id}})"> Remove Warehouse</button>
  </div>
</div>
{{/each}} 
</div>


   {{!-- ------------------------------------------------------ --}}

<section class="container-fluid footer-container" > 
        <footer >    
      <div id="foot-note">         
      <a class="nav-item nav-link" href="/about">About </a>
      <a class="nav-item nav-link" href="/contactus">Contact Us</a>
      <a class="nav-item nav-link" href="/signup">Login</a></div> 
      </footer>      

<script src="/script.js"></script>
</section>