
<header id ="header-container" class="container-fluid" > <nav class="navbar navbar-expand-lg navbar-black bg-dark w-100">
  <a class="navbar-brand" href="#">Verizon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">About </a>
      <a class="nav-item nav-link" href="#">Contact Us</a>
      <a class="nav-item nav-link " href="#">Login</a>
    </div>
  </div>
</nav></header>


<div > <h1> Verizon Warehouse</h1></div>
<section id ="banner-container" class="container-fluid">
    <img src="https://www.netleaseadvisor.com/wp-content/uploads/2016/09/Verizon-net-lease-investmetn-800x364.jpg">
     </section>
     <section id="main-div" class="container">
<section id ="warehouse-container"> 

{{#each warehouses}} 
		<div class="card" >
  <img class="card-img-top" src="{{image}}" alt="warehouse image">
  <div class="card-body">
    <h5 class="card-title">{{name}} </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/warehouses/{{id}}" class="btn btn-dark">View Warehouse</a>
  </div>
</div>
	{{/each}}

 
</section>
<section id ="footer-container"> </section>

</section>