body{
    /* background-color: aquamarine; */
    margin:0;
    padding:0;
}
*{
    margin:0;
    padding:0
}
html{
    padding:0;
    margin:0;
}
#header-container{
    width: 100%;
}
img {
    max-width: 100%;
}
#header-container a:hover{
    background-color: black;
    color: white
}
#header-container a{
  
    color: white;
  
}
/* #banner-container .container-fluid{
    width:100%;
    background-size: initial;
    margin-bottom: 50px;
    height: 500px;
    background-position-x: center;
    position: relative;
    top: -55;
    z-index: -100;
    background-size: cover;
} */
#banner-container img{
  width:100%;

  /* background-size: initial; */
  /* margin-bottom: 50px; */
  height: 500px;
  /* background-position-x: center; */
  position: relative;
  top: -55;
  z-index: -100;
  /* background-size: cover; */
}
.container-fluid{
    padding:0;
    margin:0;
}
.navbar{
    position: relative;
    height: 100px;
    z-index: 100;
    width: 100%;
    /* position:fixed; */
    opacity: 0.9;
}
.card{
    display:inline-block;
    width: 420px;
    height:340px;
}
/* div.card-body{
  
    width: 100px;
    height:200px;
} */


span.navbar-toggler-icon{
background-color: rgb(255, 255, 255);
}
div#singlewarehouse img{
    margin: 0 100px;
}

div #all-btns{
    
    display: flex;
    
    margin: 0 100px;
  
}
div #all-btns{
   
    margin-top: 80px;
  
}

button#details-btn{
margin:20px
}
button#pallet-btn{
    margin:20px   
}
button#allwarehouse-btn{
    margin:20px  ;
    color:white; 
}
button#allwarehouse-btn a{

    color:white; 
}
button#delete-btn{
    margin:20px 
}



@media (max-width:720px){
    .navbar{
        height: 200px;
    }
}
